*{

    font-family: Arial, Helvetica, sans-serif;
}

header{

    background-color: #3F5183;
    display: flex;
    justify-content: space-between;
}

header > img{

    width: 7.5%;

}

nav{

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

a:link, a:visited {
	text-decoration: none;
    color: black;
	}
a:hover {
	text-decoration: underline;
	color: #f00
	}
a:active {
	text-decoration: none;
	}

.main{

    display: flex;
}

.main > section{

    flex: 4;
}

.main > aside{

    flex: 1;
}

.aluno{

    padding: 10px;
    background-color:#6D7FAA;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.aluno h3 {

    text-align: center;
}


section{

    padding-top: 10px;
    height: 500px;
    text-align: center;
    background-color: #6D7FAA;
}





aside{

    padding-top: 10px;
    height: 500px;
    text-align: center;
    background-color: #7e91b0;

}



footer{

    background-color: #B8B8F3;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

